####################
# 忽略壓縮檔或大檔案 #
####################
*.7z
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
################
# 忽略app安裝檔 #
################
*.apk
*.ipa
###############
# Directories #
###############
app/